obsolete/*
texput.log
wujastyk-local-documentation.aux
wujastyk-local-documentation.glg
wujastyk-local-documentation.glo
wujastyk-local-documentation.hd
wujastyk-local-documentation.idx
wujastyk-local-documentation.ilg
wujastyk-local-documentation.ind
wujastyk-local-documentation.log
wujastyk-local-documentation.out
wujastyk-local-documentation.toc
